.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  gap: 20px;
}

.loginTitle{
  font-size: 1.2rem;
}

.loginButton{
  cursor: pointer;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.loginButton:hover {
  transform: translateY(2px);
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    gap: 20px;
}

.logoutTitle{
  font-size: 1.2rem;
}

.logoutButton{
  cursor: pointer;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.logoutButton:hover {
  transform: translateY(2px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
